---
interface Props {
	title: string;
}
const { title } = Astro.props;
import Header from 'component/header';
import '../../sass/index.sass'
---

<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Pagina Oficial de la Municipalidad de San Fernando del Valle de Catamarca">
            <meta name="author" content="Secretaría de Gabinete y Modernización">
            <link rel="shortcut icon" href="/images/muni-logo-removebg.png">
            <meta name="theme-color" content="#242C4F" />
            <meta name="msapplication-navbutton-color" content="#242C4F" />
            <meta name="apple-mobile-web-app-status-bar-style" content="#242C4F" />
            <meta property="og:url" content="/images/muni-logo.jpg" />
            <meta property="og:type" content="article" />
            <meta property="og:title" content="Catamarca Capital - Municipalidad SFVC" />
            <meta property="og:description" content="Pagina Oficial de la Municipalidad de San Fernando del Valle de Catamarca" />
            <meta property="og:image" content="/images/muni-logo.jpg" />
            <meta property="og:locale" content="es_AR" />
            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title" content="Catamarca Capital - Municipalidad SFVC" />
            <meta name="twitter:description" content="Pagina Oficial de la Municipalidad de San Fernando del Valle de Catamarca" />
            <meta name="twitter:image" content="/images/muni-logo.jpg" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../../node_modules/ar-poncho/dist/css/argentina.css"> 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> 
            <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/encode-fontface.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/poncho.min.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/documentacion.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/gh/argob/poncho@master/dist/css/icono-arg.css" rel="stylesheet">

            <link lang="sass" rel="stylesheet" href="../../sass/index.sass">
            <style lang="sass"></style>
            <meta name="generator" content={Astro.generator} />
            <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
